*,
a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid black;  */
}
body {
  background: url(../img-stocks/wepik-yellow-black-and-gray-geometric-background-2023051305575054I2.png) no-repeat center center/cover;
}
section.regis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

img.maskot {
  position: relative;
  z-index: 1;
}

section.regis .logo {
  max-width: 25vw;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.regis-akun,
.bungkus {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  border-color: skyblue;
  border-width: 0.1rem;
  border-radius: 30px;
  background: white;
  overflow: visible;
}

.regis1 .tingginya {
  height: 10%;
  padding: 0;
}

form .regis1 {
  display: flex;
  flex-direction: column;
}

section .btn {
  display: flex;
  margin: 0 auto;
}

img.pemanis {
  position: absolute;
  z-index: 999;
  right: 0;
  bottom: 0;
}

.scroll-down {
  /* transform: translateX(-50%); */
  font-size: 24px;
}
.error {
  background: #F2DEDE;
  color: #a94442;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
}